@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background-image: repeating-linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 1.5px, transparent 1.5px, transparent);
background-size: 49px 49px;
background-color: #000000e1;
  font-family: Arial, Helvetica, sans-serif;
}

/* Hide scrollbar but keep scrolling functionality */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
html {
  scrollbar-width: none;
}

/* For IE/Edge */
body {
  -ms-overflow-style: none;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
